
{
  "compact": false,
  "presets": [
    "env",
    "react",
  ],
  "plugins": [
    [
      "transform-async-to-generator",
      {
        "module": "bluebird",
        "method": "coroutine"
      }
    ],
    "transform-object-rest-spread"
  ]
}
