.warpjs-user-settings-auto-save-field {
    .input-group {
        .input-group-addon {
            background-color: transparent;
            border: none;
        }

        &.warpjs-field-status-clean {
            .form-control {
                border: none;

                &:focus {
                    border: inherit;
                    background-color: #f5f5f5;
                }
            }
            .input-group-addon {
                color: transparent;
            }
        }

        &.warpjs-field-status-dirty {
            .form-control {
                &:focus {
                    background-color: #f5f5f5;
                }
            }

            .input-group-addon {
                color: #cccccc;
            }
        }

        &.warpjs-field-status-saving {
            .input-group-addon {
                color: #aa6708;
            }
        }

        &.warpjs-field-status-saved {
            .input-group-addon {
                color: #3c763d;
            }
        }
    }
}
